body {
    margin: 0;
}
:root {
  --color-purple: rgba(197, 18, 193, 1);
  --color-pink: rgba(241, 50, 50, 1);
}

#root {
  margin: 0;
  min-height: 100vh;
  display: flex;
  font-family: 'IBM Plex Mono', monospace;
  background-color:#333;
  color: #fff;
}

nav {
    background-color: #000;
    padding: 10px;
    position: sticky !important;
    top: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance:none;
    margin:0;
}

input[type=number] {
    -moz-appearance:textfield;
    appearance:textfield;
    margin:0;
}

input.timer {
    background-color:#555;
    text-align:center;
    border:none;
    color:#fff;
    width: 2.75rem;
    padding: .4375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

input[type=button] {
    text-align: center;
}

.timer-inputs {
    display: flex;
    justify-content: center;
}

.unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 5px;
}

.unit:last-child {
    padding-right: 0;
}

.countdown {
    text-align: center;
}

.countdown .time-unit {
    margin-left: 10px;
}

.countdown .time-unit:first-child {
    margin-left: 0;
}

.controls {

}

.btn-dark {
    background-color: #555;
    border-color: #555;
}

.btn-dark.active,
.btn-dark:hover {
    background-color: #000;
    border-color: #000;
}

.master-controls {
    background-color: #000;
    position: sticky;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

.master-controls .center-controls {
    margin-right: -40px;
}

.flex-grow-2 {
    flex-grow: 2;
}

.mode-select {
    min-width: 10em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.bg-dark .close {
    color: #fff;
}
